@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica Bold'), local('Pragmatica-Bold'),
        url('Pragmatica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica Book'), local('Pragmatica-Book'),
        url('Pragmatica-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica Medium'), local('Pragmatica-Medium'),
        url('Pragmatica-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}


@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica Light'), local('Pragmatica-Light'),
        url('Pragmatica-Light.woff') format('woff');
    font-weight: 300;
    font-style: light;
}


