$base-color : #0080C5;
$dark-blue: #151727;

.banner { 
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;   
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
        z-index: 2;

    }

    .video_container {
        .featured_video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .banner_text {
        position: absolute;
        top: 30%;
        width: 100%;
        z-index: 3;
        text-align: center;

        h1 {
            color: #fff;
            width: 740px;
            margin: auto;
            font-size: 88px;
            font-family: 'Kudryashev Headline';
            font-weight: 700;
            line-height: 1.18;
            text-shadow: 1px 3px 1px rgba(72, 65, 65, 0.5);
        }
    }

    .search_bar{
        position: absolute;
        bottom: 25%;
        z-index: 3;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);


        input {
            width: 500px;
            height: 60px;
            padding: 0 30px;
            background: transparent;
	        backdrop-filter: blur(3.5px);
            border: 1px solid #fff;
            color: #fff;
            border-radius: 30px;

            &::placeholder {
                color: #fff;
            }

            &:focus {
                outline: none;
                background: #fff;
                color: #000;
            }
        }

        button {
            border-radius: 50%;
            background: $base-color;
            width: 55px;
            height: 55px;
            border: 0;
            position: absolute;
            right: 5px;
            top: 2px;
            cursor: pointer;

        }
    }


}

.intro {
    padding: 80px 0;
    position: relative;
    cursor: pointer;
    margin-bottom: 60px;
    overflow: hidden;

    .intro_head {
        width: 390px;
    }

    .intro_text {
        margin-left: 200px;
        margin-top: 50px;
        display: flex;

        p {
            width: 316px;
            margin-right: 70px;
        }
    }

    .intro_img {
        img {
            width: 100%;
            height: 540px;
            object-fit: cover;
        }
    }
}




.activities {
    overflow: hidden;
    padding: 120px 0;
    padding-top: 50px;
    background-image: linear-gradient(to top, #e6f5fa 0%, white 100%);

    .activities_slides {
        width: 120%;
    }

    .activity_slide {
     
        height: 662px;
       
        .activity_head {
            h4 {
                width: 250px;
            }
        }

        figure {
            position: relative;
            width: 100%;
            
        
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(17,17,17,.15);
                position: absolute;
                top: 0;
                left: 0;
    
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
        }
    
        .slide_content {
            position: absolute;
            bottom: 50px;
            left: 40px;
            color: #fff;

            h4 {
                font-weight: 600;
                text-shadow: 1px 3px 1px rgba(72, 65, 65, 0.5);
            }
    
            p {
                display: none;
            }
           
        }
    
    }
}

.custom_container {
    max-width: 1540px;
    margin: auto;
    overflow-x: visible;
}


.destination {
    min-height: 987px;
    background-position: center ;
    background-size: cover ;
    position: relative;

    .destination_head {
        position: absolute;
        top: 15%;
        right: 21.1%;
        z-index: 3;
        text-align: right;
        width: 320px;
    }

    .nepal_map {
        position: relative;
        max-width: 1173px;
        margin: 0 auto;
        padding-top: 190px;
        z-index: 3;

        img {
            width: 100%;
        }
    }

    .marker_region {
        position: absolute;
        z-index: 3;
        cursor: pointer;



        .marker_icon {
            background-color: #1a1e17;
            color: #fff;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                width: 20px;
                height: 29px;

            }

            svg {
                color: #fff;
                fill: #fff;
                height: 13px;
            }
        }
    }

}

.choose {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    position: relative;
    z-index: 2;

    .ch_item {
        display: flex;
        margin: 15px;

        svg {
            width: 32px;
            height: 32px;
            margin-right: 15px ;
        }

        .icon_inner {
            h4 {
                font-size: 22px;
                font-weight: 500;
                color: #000;
            }

            p {
                font-size: 16px;
                width: 164px;
                line-height: 24px;
            }
        }
    }
}

.stories {
    padding: 80px 0;
    color: #fff;
    min-height: 850px;
    position: relative;
    padding-bottom: 300px;
    background-size: cover ;
    background-position: center ;

    .story_article {
        position: relative;
        width: 1320px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        gap: 10px;

        .story_header {
            position: relative;
            max-width: 468px;
            flex-shrink: 0;
            z-index: 2;
            margin-top: 50px;
        }

        .story_play {
            background: #1a1e17;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 1.3s;

            &::after {
                position: absolute;
                content: '';
                width: 120%;
                height: 120%;
                background: transparent;
                border: 1px solid #1a1e17;
                border-radius: 50%;
            }

            &:hover {
                background: #da8d00;

                &::after {
                    border: 1px solid #da8d00;
                }
            }

            img {
                width: 20px !important;
                height: 30px !important;
                object-fit: contain !important;
                margin-left: 5px;
            }
        }

        .media_story {
            overflow: hidden;
            cursor: pointer;
    
            img {
                transition: 1.3s;
            }
             
            &:hover {
                img {
                    transform: scale(1.1)
                }
    
                .story-play {
                    transform: scale(0.9) translate(-50%,-50%);
                }
            }
        }
    
        .story_right {
            position: relative;
    
            .media_story {
                width: 367px;
                height: 443px;
                margin-left: auto;
                position: relative;
                
                
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                &:nth-child(2) {
                    position: absolute;
                    margin-top: -150px;
                    right: 180px;
                    width: 290px;
                    height: 343px;
                }
            
            }
        }
    
        .story_left {
            position: relative;
            margin-top: -80px;
    
            .media_story {
                width: 514px;
                height: 374px;
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                &:nth-child(2) {
                    position: absolute;
                    margin-top: -80px;
                    right: 50px;
                    width: 318px;
                    height: 270px;
                }
    
                
            
            }
        }
    }

}

.tailor {
    padding: 150px 0;

    .tm_wrap {
        display: flex;
        align-items: center;

        .tm_article {

            width: 70%;
            height: 559px;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            padding: 10px 50px;

            .tm_article_wrap {
                width: 60%;
            }
        }

        .testimonial {
            width: 30%;
            height: 559px;
            position: relative;
            color: #fff;
            z-index: 2;

            &::after {
                content: "";
                position: absolute;
                top: -10%;
                left: -7%;
                width: 110%;
                height: 120%;
                background: #304E6E;
                z-index: -1;
            }

            .twrap {
                position: relative;
                z-index: 2;
                text-align: center;
            }

            .testimonial_slides {
                width: 100%;
                height: 100%;
                overflow: hidden;

                .testimonial_item {
                    text-align: center;
                    margin-top: 20px;
        
                    img {
                        width: 180px;
                        height: 180px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
        
                    .ti_desc {
                        margin-top: 30px;
        
                        h5 {
                            font-size: 26px;
                            margin-bottom: 10px;
                            color: #fff;
                        }
        
                        span {
                            font-size: 16px;
                            font-weight: 100;
                        }
        
                        p {
                            width: 80%;
                            margin: 10px auto;
                            font-size: 17px;
                            font-weight: 200;
                        }
        
                    }
                }
            }
        }
    }
}

.featured {
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 100px 0;


    &:after {
        content: "";
        background: #151727;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 600px;
        z-index: 1;

    }

    .featured_head {
        position: relative;
        color: #fff;
        z-index: 2;
        width: 450px;

       
    }

    .latest_slider {
        position: relative;
        z-index: 2;
        margin-top: 50px;
    }

    .latest_item {
        color: #333333;

        .latest_img {
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 550px;
                object-fit: cover;
            }
        }

        h5 {
            font-size: 22px;
            font-weight: 600;
            color: #000;
           
        }

        p {
            font-size: 16px;
            margin: 15px 0;
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 90px;
        }

        

    }
}


@media screen and (max-width: 1600px) {
    .banner {
        .banner_text {
            h1 {
                font-size: 78px;
            }
        }

        .search_bar {
            bottom: 15%;
        }
    }

    .intro {
        .intro_text {
            margin-left: 120px;

            p {
                width: 286px;
                margin-right: 50px;
            }
        }
    }

    .custom_container {
        max-width: 1220px;
    }
  
    .activities {
        .activity_slide {
            .slide_content {
                bottom: 100px
            }
        }
    }

    .destination {
        .destination_head {
            right: 0;
        }
    }

    .stories {
        .story_article {
            max-width: 1220px;
        }
    }

    .featured {
        .latest_item {
            .latest_img {
                img {
                    height: 350px;
                }
            }
        }
    }

    .tailor {
        .tm_wrap {
            .testimonial {
                .testimonial_slides {
                    .testimonial_item {
                        img {
                            width: 170px;
                            height: 170px;
                        }
                    }
                }
            }
        }
    }
    
    

}

@media screen and (max-width: 768px) { 
    .banner {
        .banner_text {
            top: 18%;

            h1 {
                font-size: 58px;
                max-width: 100%;
            }
        }

        .search_bar {
            bottom: 5%;
            width: 80%;

            input {
                width: 100%;
            }

        }
    }

    .intro .intro_text {
        margin-left: 0;
    }

    

    .destination {
        .destination_head {
            position: relative;
            top: 0;
            width: 60%;
            text-align: left;
        }
    }

    .stories {
        padding-bottom: 80px;

        .story_article {
            width: 100%;
            display: block;

            .media_story {
                width: 100% !important;
                height: 343px !important;
                margin: 20px  0!important;
                position: relative !important;
                right: 0 !important;
            }

            .story_left {
                margin: 20px  0!important;
            }
        }
    }


    .tailor .tm_wrap {
        display: block;

        .testimonial {
            width: 100%;
            background-color: #304E6E;
            height: auto;
            padding: 50px 0;

            &:after {
                display: none;
            }
        }

        .tm_article {
            width: 100%;
            height: auto;
            padding: 10px;
            margin-bottom: 50px;

            .tm_article_wrap {
                width: 100%;
            }
        }
    }

    .featured {
        .featured_head {
            width: 100%;
        }

        &:after {
            max-height: 370px;
        }
    }

    .choose {
        display: block;
    }
    
    .latest_slider, .footer_animations,.activities {
        display: none;
    }

  
}



@media screen and (max-width: 480px) {

    .intro {
        .intro_text {
            display: block;
    
            p {
                width: 100%;
                margin: 20px  0!important;
    
            }
        }

        .intro_img {
            margin-top: 40px;
            
            img {
                height: auto;
            }
        }
    }
    
    
    

}