$base-color : #0080C5;
$dark-blue: #151727;

.wrapper {
    background-image: linear-gradient(to top, #e6f5fa 0%, white 100%);
}

.team_wrapper {
    padding: 40px 0;
    // background-image: linear-gradient(to top, #e6f5fa 0%, white 100%);

    .card {
        box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 10%);
        background: #ffffff;
        margin: 20px 0;
        transition: 0.8s;
        z-index: 2;
        position: relative;

        &:hover {
            z-index: 3;
            transform: translateY(30px) scale(1.2);
            cursor: pointer;
        }

        &.expert_card {
            position: relative;

            .text {
                min-height: auto;
                padding-bottom: 30px;
            }
        }


        figure {
           img  { 
               width: 100%;
           }
        }

        .text {
            padding: 30px 20px 20px;
            min-height: 173px;

            h5 {
                font-size: 26px;
                font-weight: 600;
                color: #000;
                margin-bottom: 5px;
            }

            span {
                display: block;
                font-family: "Switzer-Light";
            }

            label {
                font-family: "Switzer-Light";
                margin: 5px 0;
            }


        }
    }
}

.intro_experts {
    padding: 80px 0; 

    .img {
        img {
            width: 100%;
        }
    } 

    .text {
        padding-left: 40px;

        .head {
            h3 {
                font-family: "Kudryashev Headline";
                margin: auto;
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            p {
                text-transform: uppercase;
                font-weight: 100;
                margin-bottom: 0;
                font-size: 16px;
            }

        }

        blockquote { 
          
            color: #000;
            margin-top: 50px;
            position: relative;
            font-weight: 100;
            font-size: 28px;
            width: 60%;
            margin-left: 170px;
            line-height: 1.7;


            &:after {
                font-family: 'Switzer-Italic';
                font-size: 41rem;
                color: rgb(234, 234, 234);
                position: absolute;
                content: '"';
                bottom: 50px;
                right: -50px;
                line-height: 0;
                z-index: -1;
            }
        
        }
    }
}

.timeline {
    padding-bottom: 80px ;

    h5 {
        font-size: 28px;
        font-weight: 600;
        color: #000;
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        font-style: 17px;

        th {
            font-family: "Switzer-Semibold";
            text-transform: uppercase;
            padding: 8px 0px 0;
            font-size: 18px;

            &:last-child {
                width: 250px;
                max-width: 250px;
            }
        }

        td {
            font-family: "Switzer-Light";
            padding: 10px 0px;
            font-size: 18px;

            img {
                width: 20px !important;
                height: 20px !important;
            }

            
        }
    }
}



@media screen and (max-width: 1600px) {
    .team_wrapper {
        .card {
            margin: 15px 0;
    
            &:hover {
                transform: translateY(10px) scale(1.15);
            }
    
            .text {
                span {
                    font-size: 16px;
                }
            }
        }
    }
    
    
}

@media screen and (max-width: 768px) { 
   
}